{% load static %}
<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/change-password.html  30 Nov 2019 04:12:18 GMT -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Mediqs</title>
	
	<!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'images/circle-logo.png' %}"
      rel="icon"
    />
		
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'Mediqs/css/Normal/bootstrap.min.css' %}">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'Mediqs/css/Normal/style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<header class="header">{% include 'patient_navbar.html' %}</header>
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'patient-dashboard' %}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Change Password</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Change Password</h2>{% include 'message.html' %}
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div>{% include 'patient-sidebar.html' %}</div>
						  </div>
						
						<div class="col-md-9" style="background-color: #f5f5f5;height:608px;">
						  <div class="col-md-12 col-lg-12 mx-0">
							<div class="card card-table" style="margin-top:50px;">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-center">
											<thead>
											  <tr>
												<th class="h3 text-center" style="min-width: 100px">Change Password</th>
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<td>
												  <form action="#" method="POST">
													{% csrf_token %}
													<table class="table table-center" style="width: 60%;margin-left: 20%;">
														<tr style="background-color:#90E8D7;">
															<td style="width:30%; color: black;border: 1px solid #90E8D7;"><b><label>Previous Password:</label></b></td>
															<td style="position: relative;border: 1px solid #90E8D7;">
																<input name="prev_password" type="password" class="form-control" style="background-color:#D9D9D9;color:black;border-color:white;padding-right: 40px;" id="prev_password">
																<span onclick="togglePrevPasswordVisibility('prev_password', 'prev-icon')" class="field-icon toggle-password" style="position: absolute; right: 40px; top: 50%; transform: translateY(-50%); z-index: 3;">
																	<i id="prev-icon" class="fas fa-eye" style="color:#416F83"></i>
																</span>
															</td>
														</tr>
													  <tr style="background-color:#90E8D7;">
														<td style="color: black;border: 1px solid #90E8D7;"><b><label>New Password:</label></b></td>
														<td style="position: relative;border: 1px solid #90E8D7;">
														  <input name="new_password" type="password" class="form-control" style="background-color:#D9D9D9;color:black;border-color:white;padding-right: 40px;" id="new_password">
														  <span onclick="togglePasswordVisibility()" class="field-icon toggle-password"style="position: absolute; right: 40px; top: 50%; transform: translateY(-50%); z-index: 3;">
															<i id="password-icon" class="fas fa-eye"style="color:#416F83"></i>
														  </span>
														</td>
													  </tr>
													  
													  <tr style="background-color:#90E8D7;">
														<td style="color: black;border: 1px solid #90E8D7;"><b><label>Confirm Password:</label></b></td>
														<td style="position: relative;border: 1px solid #90E8D7;">
															<input name="confirm_password" type="password" class="form-control" style="background-color:#D9D9D9;color:black;border-color:white;padding-right: 40px;" id="confirm_password">
															<span onclick="toggleConfirmPasswordVisibility('confirm_password', 'confirm-icon')" class="field-icon toggle-password" style="position: absolute; right: 40px; top: 50%; transform: translateY(-50%); z-index: 3;">
																<i id="confirm-icon" class="fas fa-eye"style="color:#416F83"></i>
															</span>
														</td>
													</tr>
													
													</table>
													<div class="submit-section d-flex justify-content-center"style="margin-left:20px;margin-top:10px">
														<button type="submit" class="btn btn-primary d-flex align-items-center" style="font-size: 25px; background-color: #065242;">
															<i class="fa-solid fa-floppy-disk fa-2xs mr-2"></i>
															<span style="font-size: 20px;">Save Changes</span>
														</button>
														</div>
												  </form>
												</td>
											  </tr>
											</tbody>
										  </table>
										  
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'Mediqs/js/Normal/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'Mediqs/js/Normal/popper.min.js' %}"></script>
		<script src="{% static 'Mediqs/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'Mediqs/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'Mediqs/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'Mediqs/Outside_assets/js/script.js' %}"></script>

		{% if messages %}
		<script>
			{% for message in messages %}
				$(document).ready(function () {
					$('.toast').toast('show');
				});
			{% endfor %}
		</script>
	  {% endif %}
	  <script>
		function togglePasswordVisibility(id, iconId) {
		  var passwordInput = document.getElementById(id);
		  var icon = document.getElementById(iconId);
	  
		  if (passwordInput.type === "password") {
			passwordInput.type = "text";
			icon.classList.remove("fa-eye-slash");
			icon.classList.add("fa-eye");
		  } else {
			passwordInput.type = "password";
			icon.classList.remove("fa-eye");
			icon.classList.add("fa-eye-slash");
		  }
		}
	  
		document.getElementById("prev-icon").addEventListener("click", function() {
		  togglePasswordVisibility("prev_password", "prev-icon");
		});
	  
		document.getElementById("password-icon").addEventListener("click", function() {
		  togglePasswordVisibility("new_password", "password-icon");
		});
	  
		document.getElementById("confirm-icon").addEventListener("click", function() {
		  togglePasswordVisibility("confirm_password", "confirm-icon");
		});
	  </script>
	
	</body>

<!-- doccure/change-password.html  30 Nov 2019 04:12:18 GMT -->
</html>