{% load static %}
{% load cloud %}

<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/doctor-profile.html  30 Nov 2019 04:12:16 GMT -->
<head>
		<meta charset="utf-8">
		<title>Mediqs</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link
		type="image/x-icon"
		href="{% static 'images/circle-logo.png' %}"
		rel="icon"
	  	/>		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'Mediqs/css/Normal/bootstrap.min.css' %}">
		
		     <!-- Fontawesome CSS 
        <link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/all.min.css' %}"/>

	
		<!-- Fancybox CSS -->
		<link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fancybox/jquery.fancybox.min.css'%}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'Mediqs/css/Normal/style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		<style>
			.zoom {
			  transition: transform .2s; /* Animation */
			}
			
			.zoom:hover {
			  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
			}
		</style>
	
	</head>
	<body>
		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				
				{% if user.is_authenticated and user.is_patient %}
				{% include 'patient_navbar.html' %}
				{% endif %}
				
				{% if user.is_authenticated and user.is_doctor %}
				{% include 'doctor-navbar.html' %}
				{% endif %}
			
			
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="chat-patient">
					<ul>
						<p><a href="{% url 'inventory' %}" style="color: black;">Inventory</a><br>
						 <a href="{% url 'chat-home' pk=user.id %}" style="color: black;">Chat with Patients</a></p>
					   </ul>
				</div>
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">

									{% if user.is_authenticated and user.is_patient %}
									<li class="breadcrumb-item"><a href="{% url 'patient-dashboard' %}">Home</a></li>
									{% endif %}

									{% if user.is_authenticated and user.is_doctor %}
									<li class="breadcrumb-item"><a href="{% url 'doctor-dashboard' %}">Home</a></li>
									{% endif %}
									<li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
									
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Doctor Profile</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							{% include 'message.html' %}
							
							<!-- Profile Sidebar -->
							<div>
								{% if user.is_authenticated and user.is_patient %}
								{% include 'patient-sidebar.html' %}
								{% endif %}
				
								{% if user.is_authenticated and user.is_doctor %}
								{% include 'doctor-sidebar.html' %}
								{% endif %}
							</div>
							<!-- /Profile Sidebar -->
						</div>
						

						<div class="col-md-7 col-lg-8 col-xl-9">
							<!-- Doctor Widget -->
							<div class="card">
								<div class="card-profile" style="background-color: #065242;">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img" style="margin-bottom: 15px;">
												<img src="{{ doctor.featured_image.url | adjust_image_url }}" class="docprofile-img" alt="User Image">
											</div>
											<div class="doc-info-cont">
												<div class="clinic-details mb-0" >
													<h3 class="doc-name">Dr. {{doctor.name}}</h3>
													<h4 class="doc-healthcenter" style="color: #fff">{{doctor.health_center}}</h4>
													
 														<ul class="clinic-gallery">
															<li>
																<a href="{% static 'Mediqs/images/Normal/gyno1.jpg'%}" data-fancybox="gallery">
																	<img src="{% static 'Mediqs/images/Normal/gyno1.jpg'%}" alt="Feature">
																</a>
															</li>
															<li>
																<a href="{% static 'Mediqs/images/Normal/gyno2.jpg'%}" data-fancybox="gallery">
																	<img  src="{% static 'Mediqs/images/Normal/gyno2.jpg'%}" alt="Feature">
																</a>
															</li>
															<li>
																<a href="{% static 'Mediqs/images/Normal/gyno3.jpg'%}" data-fancybox="gallery">
																	<img src="{% static 'Mediqs/images/Normal/gyno3.jpg'%}" alt="Feature">
																</a>
															</li>
															<li>
																<a href="{% static 'Mediqs/images/Normal/gyno4.jpg'%}" data-fancybox="gallery">
																	<img src="{% static 'Mediqs/images/Normal/gyno4.jpg'%}" alt="Feature">
																</a>
															</li>
														</ul> 
												</div>
											</div>
											
										</div>
									</div>
								</div>
							
							<!-- /Doctor Widget -->
					
							<!-- Doctor Details Tab -->
								<div class="card-profile-body pt-0">
								
									<!-- Tab Menu -->
									<nav class="user-tabs">
										<div class="nav-tabs nav-tabs-solid pt-0">
											<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
												<li class="nav-item">
													<a class="nav-link active " href="#doc_overview" data-toggle="tab">Overview</a>
												</li>
												<li class="nav-item ">
													<a class="nav-link" href="#doc_certificate" data-toggle="tab">Certificate</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#doc_reviews" data-toggle="tab">Reviews</a>
												</li>
												
											</ul>
										</div>
									</nav>
									<!-- /Tab Menu -->
									
									<!-- Tab Content -->
									<div class="tab-content pt-0">
									
										<!-- Overview Content -->
										<div role="tabpanel" id="doc_overview" class="tab-pane fade show active" style="background-color:#90E8D7;">
											<div class="row">
												<div class="card-body">
													<div class="col-md-12 col-lg-11">
													
														<!-- About Details -->
														<div class="widget about-widget">
															<b class="widget-title">ABOUT ME</b>
															<p >{{doctor.description}}</p>
														</div>
														<!-- /About Details -->
													
														<!-- Education Details -->
														<div class="widget education-widget">
															<b class="widget-title">EDUCATION</b>
															<div class="experience-box">
																<ul class="experience-list">
																	{% for e in educations %}
																	<li>
																		<div class="experience-user">
																			<div class="before-circle"></div>
																		</div>
																		<div class="experience-content">
																			<div class="timeline-content">
																				<b><label class="label">Degree:</label></b>
																				<span>{{e.degree}}</span>
																				<br>
																				<b><label class="label">Institute:</label></b>
																				<span>{{e.institute}}</span>
																				<br>
																				<b><label class="label">Completion Year:</label></b>
																				<span>{{e.year_of_completion}}</span> 
																			</div>
																		</div>
																	</li>
																	{% endfor %}
																</ul>
															</div>
														</div>
														<!-- /Education Details -->

												
														<!-- Experience Details -->
														<div class="widget experience-widget" >
															<b class="widget-title">WORK & EXPERIENCE</b>
															<div class="experience-box">
																<ul class="experience-list">

																	{% for e in experiences %}
																		<li>
																			<div class="experience-user">
																				<div class="before-circle"></div>
																			</div>
																			<div class="experience-content">
																				<div class="timeline-content">
																					<b><label class="label">Designation:</label></b>
																					<a href="#/" >{{e.designation}}</a>
																					<div><b><label class="label">Work Place: </label></b><span>{{ e.work_place_name}}</span></div>
																					<div><b><label class="label">Start Year: </label></b><span>{{ e.from_year}}</span></div>
																					<div><b><label class="label">End Year: </label></b><span>{{ e.to_year}}</span></div>
																				</div>
																			</div>
																		</li>
																		{% endfor %}
																</ul>
															</div>
														</div>
														<!-- /Experience Details -->
														
														<!-- Specializations List -->
														<div class="service-list">
															<br>
																<b class="widget-title">VISITING TIME</b>
															<ul class="clearfix">
																{{doctor.visiting_hour}}
															</ul>
														</div>
														<!-- /Specializations List -->
													
													</div>
												</div>
											</div>
										</div>
										<!-- /Overview Content -->

										<!-- Certificate Content -->
										<div role="tabpanel" id="doc_certificate" class="tab-pane fade" style="background-color:#90E8D7;">
											<div class="row">
												<div class="col-md-6 offset-md-3 zoom">
													<img src="{% static doctor.certificate_image.url %}" alt="logo" class="img-fluid">
												</div>
											</div>
										</div>
										<!-- /Certificate Content -->
										
										<!-- Reviews Content -->
										<div role="tabpanel" id="doc_reviews" class="tab-pane fade" >
											<!-- user.is_patient -->
												{% if user.is_authenticated and user.is_patient %}
												<div class="card-body write-review ">
													<h3 >Write a review for <strong>Dr. {{doctor.name}}</strong></h3>
													<form action="{% url 'doctor_review' pk=doctor.doctor_id %}" method="POST" enctype="multipart/form-data">
														{% csrf_token %}
													<div class="card card-table">
															<div class="card-body">
																<h4 class="card-title"><b>Reviews</b></h4>
																<div class="doctor_review-info">
																	<div class="row form-row doctor_review-cont">
																
																		<div class="col-12 col-md-10 col-lg-12">
																			<div class="row form-row">
																			<div class="col-12 col-md-6 col-lg-12">
																				<div class="form-group">
																					<label>Review Title</label>
																					<input type="text" class="form-control" name="title" id="title">
																				</div> 
																			</div>

																			<div class="col-12 col-md-6 col-lg-12">
																				<div class="form-group">
																					<label>Message</label>
																					<textarea type="text" class="form-control" name="message" id="message" rows="5"></textarea>
																				</div> 
																			</div>
																			</div>

																			<div class="submit-section ">
																				<button type="submit" class="btn btn-primary submit-btn">Save Review</button>
																			</div>
																		</div>
																	</div>
																</div>	
															</div>
														</div>
													</form>
												</div>
												{% endif %}
											<!-- user.is_patient -->
										
										
											<!-- user.is_doctor -->
													{% if user.is_authenticated and user.is_doctor %}
													<div class="card-body write-review ">
													<div class="card-body review-listing" style="background-color:#90E8D7;">
														<ul class="comments-list">
															<div class="invoice-item invoice-table-wrap">
																<div class="education-widget">
																	<b class="widget-title">REVIEWS</b>
																	
																	<div class="experience-box">
																		<ul class="experience-list">
																			<div class="invoice-item">
																				<div class="row-profile">
																					<div class="invoice-info">
																						<strong class="customer-text"></strong>

																						{% for review in doctor_review %}
																							<!-- Comment List -->
																							<li>
																								<div class="comment">
																									<img class="avatar avatar-sm rounded-circle" alt="User Image" src="{{ review.patient.featured_image.url | adjust_image_url }}">
																									<div class="comment-body">
																										<div class="meta-data">
																											<span class="comment-author">{{review.patient.name}}</span>
																											
																										</div>
																										<p class="recommended"><i class="far fa-thumbs-up"></i> <b>REVIEW TITLE</b><br> {{review.title}}</p>
																										<h4 class="comment-content"> <b>MESSAGE</b><br> {{review.message}}</h4>
																									</div>
																								</div>	
																							</li>
																							<!-- /Comment List -->
																						{% endfor %}
																					</div>
																				</div>
																			</div>
																		</ul>
																	</div>
																</div>
															</div>
														</ul>
													</div>
												</div>
													{% endif %}	
											<!-- user.is_doctor -->
										</div>
										<!-- /Reviews Content -->
									</div>
									<!-- /Tab Content -->

								</div>
							
							<!-- Doctor Details Tab -->
						</div>
					</div>
				</div>		
			</div>
			<!-- /Page Content -->
		</div>
		<!-- /Main Wrapper -->
		
		
	
		<!-- jQuery -->
		<script src="{% static 'Mediqs/js/Normal/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'Mediqs/js/Normal/popper.min.js' %}"></script>
		<script src="{% static 'Mediqs/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- Fancybox JS -->
		<script src="{% static 'Mediqs/plugins/Normal/fancybox/jquery.fancybox.min.js'%}"></script>
		

		<!-- Custom JS -->
		<script src="{% static 'Mediqs/Outside_assets/js/script.js' %}"></script>

		<!-- Searchbar JS -->
		<script src="{% static 'Mediqs/js/Normal/sidebar.js' %}"></script>
		{% if messages %}
			<script>
				{% for message in messages %}
					$(document).ready(function () {
						$('.toast').toast('show');
					});
				{% endfor %}
			</script>
		{% endif %}
	</body>

<!-- doccure/doctor-profile.html  30 Nov 2019 04:12:16 GMT -->
</html> 