{% load static %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mediqs-css.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' &}">
    
<footer id="footer">
  <div class="layer-stretch">
    <div class="row layer-wrapper">
      <div class="col-md-4 footer-block">
        <div class="footer-ttl">
          <p>Basic Info</p>
        </div>
        <div class="footer-container footer-a">
          <div class="tbl">
            <div class="tbl-row">
              <div class="tbl-cell"><i class="far fa-map"></i></div>
              <div class="tbl-cell">
                <p class="paragraph-medium paragraph-white">Address Line 11, Address Line 2, City, Country, 0123456</p>
              </div>
            </div>
            <div class="tbl-row">
              <div class="tbl-cell"><i class="fas fa-mobile-alt"></i></div>
              <div class="tbl-cell">
                <p class="paragraph-medium paragraph-white">1234567890</p>
              </div>
            </div>
            <div class="tbl-row">
              <div class="tbl-cell"><i class="far fa-envelope-open"></i></div>
              <div class="tbl-cell">
                <p class="paragraph-medium paragraph-white">support@pepdev.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-block">
        <div class="footer-ttl">
          <p>Quick Links</p>
        </div>
        <div class="quick-links-container">
          <div class="quick-links-col">
            <ul>
              <li><button class="quick-links-btn">About</button></li>
              <li><button class="quick-links-btn">Register</button></li>
              <li><button class="quick-links-btn">Contact Us</button></li>
              <li><button class="quick-links-btn">Book an appointment</button></li>
            </ul>
            <ul>
              <li><button class="quick-links-btn">Doctor</button></li>
              <li><button class="quick-links-btn">Profile</button></li>
              <li><button class="quick-links-btn">Services Offered</button></li>
            </ul>
        </div>
        </div>
      </div>        
      <div class="col-md-4 footer-block">
        <div class="footer-container footer-c">
          <a href="#top"><img src="{% static 'Mediqs/images/Normal/DARK LOGO.png' %}"></a>
        </div>
       </div>
    </div>
  </div>
  <!-- Start of Copyright Section -->
  <div id="copyright">
    <div class="layer-stretch">
      <div class="paragraph-medium paragraph-white">
        2023 © DevBuilds. ALL RIGHTS RESERVED				</div>
    </div>
  </div><!-- End of Copyright Section -->
</footer><!-- End of Footer Section -->