{% load static %}
{% load cloud %}

<!DOCTYPE html>
<html lang="en">
  <!-- doccure/search.html  30 Nov 2019 04:12:16 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>Mediqs</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'images/circle-logo.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normal/bootstrap.min.css' %}"
    />

       <!-- Fontawesome CSS 
        <link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/all.min.css' %}"/>
        
    <!-- Datetimepicker CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normalbootstrap-datetimepicker.min.css' %}"
    />

    <!-- Select2 CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/plugins/Normal/select2/css/select2.min.css'%}"
    />

    <!-- Fancybox CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/plugins/Normal/fancybox/jquery.fancybox.min.css'%}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normal/style.css' %}"
    />

    <link rel="stylesheet"href="{% static 'Mediqs/css/Normal/search2.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">
            {% if user.is_authenticated and user.is_patient %}
		    {% include 'patient_navbar.html' %}
	        {% endif %}
				
		    {% if user.is_authenticated and user.is_doctor %}
			{% include 'doctor-navbar.html' %}
			{% endif %}
      </header>
      <!-- /Header -->

      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-6 col-6">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									{% if user.is_authenticated and user.is_patient %}
									<li class="breadcrumb-item"><a href="{% url 'patient-dashboard' %}">Home</a></li>
									{% endif %}

									{% if user.is_authenticated and user.is_doctor %}
									<li class="breadcrumb-item"><a href="{% url 'doctor-dashboard' %}">Home</a></li>
									{% endif %}
									<li class="breadcrumb-item active" aria-current="page">Hospital</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Doctor List</h2>
						</div>
						<div class="col-md-6 col-6 text-right">
							
							<div class="top-nav-search">
								<form action="{% url 'healthcenter-doctor-list' pk=pk_id %}" method="GET">
									<input type="text" class="form-control" placeholder="Search doctor" name="search_query" value="{{search_query}}">
									<button class="btn" type="submit"><i class="fa fa-search"></i></button>
								</form>
							</div> 

              
						</div>
					</div>
				</div>
			</div>
      <!-- /Breadcrumb -->

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <div>
                {% if user.is_authenticated and user.is_patient %}
				        {% include 'patient-sidebar.html' %}
				        {% endif %}

				        {% if user.is_authenticated and user.is_doctor %}
				        {% include 'doctor-sidebar.html' %}
				        {% endif %}
              </div>
            </div>
            <!-- / Profile Sidebar -->

            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-9">
                <!-- Doctor Widget -->						
                <div class="card">
                  <div class="card-profile">
                  <div class="doctor-widget">
                    <div class="doc-info-left">
                      <div class="doctor-img">
												<img src="{{ doctor.featured_image.url | adjust_image_url }}" class="img-fluid" alt="User Image">
											</div>

                    <div class="doc-info-cont">
                      <h4 class="doc-name">{{doctor.name}}</h4>
												<h4 class="doc-healthcenter">{{doctor.health_center.name}}</h4>
                      
                      <div class="clinic-details">
                        <p class="doc-location"><i class="fas fa-map-marker-alt"></i>{{doctor.street}} {{doctor.barangay}} {{doctor.city}}</p>
  
                        <ul class="clinic-gallery">
                          <li>
                            <a href="{% static 'Mediqs/images/Normal/features/feature-01.jpg'%}" data-fancybox="gallery">
                              <img src="{% static 'Mediqs/images/Normal/features/feature-01.jpg'%}" alt="Feature">
                            </a>
                          </li>
                          <li>
                            <a href="{% static 'Mediqs/images/Normal/features/feature-02.jpg'%}" data-fancybox="gallery">
                              <img  src="{% static 'Mediqs/images/Normal/features/feature-02.jpg'%}" alt="Feature">
                            </a>
                          </li>
                          <li>
                            <a href="{% static 'Mediqs/images/Normal/features/feature-03.jpg'%}" data-fancybox="gallery">
                              <img src="{% static 'Mediqs/images/Normal/features/feature-03.jpg'%}" alt="Feature">
                            </a>
                          </li>
                          <li>
                            <a href="{% static 'Mediqs/images/Normal/features/feature-04.jpg'%}" data-fancybox="gallery">
                              <img src="{% static 'Mediqs/images/Normal/features/feature-04.jpg'%}" alt="Feature">
                            </a>
                          </li>
                        </ul> 
  
                      </div>
                    </div>
                    </div>
          
                    <div class="doc-info-right col-xl-3">
                    
                    <div class="clinic-booking">
                        <a class="view-pro-btn" href="{% url 'doctor-profile' pk=doctor.doctor_id %}"
                          >View Profile</a>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
							<!-- /Doctor Widget -->

              <div class="load-more text-center">
                <a class="btn btn-primary btn-sm" href="javascript:void(0);"
                  >Load More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'Mediqs/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'Mediqs/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'Mediqs/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'Mediqs/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'Mediqs/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Select2 JS -->
    <script src="{% static 'Mediqs/plugins/Normal/select2/js/select2.min.js'%}"></script>

    <!-- Datetimepicker JS -->
    <script src="{% static 'Mediqs/js/Normal/moment.min.js'%}"></script>
    <script src="{% static 'Mediqs/js/Normal/bootstrap-datetimepicker.min.js'%}"></script>

    <!-- Fancybox JS -->
    <script src="{% static 'Mediqs/plugins/Normal/fancybox/jquery.fancybox.min.js'%}"></script>

    <!-- Custom JS -->
    <script src="{% static 'Mediqs/Outside_assets/js/script.js' %}"></script>
  </body>

  <!-- doccure/search.html  30 Nov 2019 04:12:16 GMT -->
</html>