{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>Mediqs</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'images/circle-logo.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      	
		<!-- Header -->
      	<header class="header">{% include 'patient_navbar.html' %}</header>
      	<!-- /Header -->

     	<!-- Breadcrumb -->
      	<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{% url 'patient-dashboard' %}">Home</a>
								</li>

								<li class="breadcrumb-item active" aria-current="page">
									Patient Dashboard
								</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Patient Dashboard</h2>
					</div>
				</div>
			</div>
      	</div>
      	<!-- /Breadcrumb -->


			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						<!-- Profile Sidebar -->
							<div>{% include 'patient-sidebar.html' %}</div>
						<!-- / Profile Sidebar -->
						</div>
						
						<!--CHILD IMMUNIZATION CARD-->
						<div class="col-md-7 col-lg-6 col-xl-9">
							<div class="card">

								<div class="content">
									<div class="container-fluid">
										<div class="row">
											<div class="col-md-7 col-lg-8 col-xl-12">
												<div class="ec-cards">
													<div style="background-image: url('{% static 'Mediqs/images/Normal/IMMUNE_BG.jpg' %}'); background-size: 100%; padding: 20px">
														<!-- Table Up-->	
														<div class="row d-flex justify-content-center">
															<div class="d-flex align-items-center" style="width: 100%;">
																<div>
																	<img src="{% static 'Mediqs/images/Normal/todoligtas.png' %}" alt="logo" style="max-height: 200px !important;">
																</div>
																<div class="col-12">
																<table class="table-borderless" style="background-color: transparent;">
																	<div>
																		<th colspan="7" style="color: darkblue;font-family: Arial Narrow; font-weight: bolder;  font-size: 56px; text-align: center;">CHILD IMMUNIZATION RECORD</th>
																	</div>
																	<tbody style="color: black;">
																	
																		<tr >
																			<th >CHILD'S NAME:</th>
																			<td colspan="2"> {{patient.name}}</td>
																			<th >MOTHER'S NAME:</th>
																			<td colspan="3">{{patient.mother_name}}</td>
																		</tr>
																		<tr>
																			<th>DATE OF BIRTH:</th>
																			<td colspan="2">{{patient.dob}}</td>
																			<th>FATHER'S NAME:</th>
																			<td colspan="3">{{patient.father_name}}</td>
																		</tr>
																		<tr>
																			<th>PLACE OF BIRTH:</th>
																			<td colspan="2" > {{patient.place_birth}}</td>
																			<th >BIRTH HEIGHT:</th>
																			<td colspan="2"style="width: 80px;">{{patient.birth_height}} cm</td>
																			<th>BIRTH WEIGHT:</th>
																			<td style="width: 80px;">{{patient.birth_weight}} kg</td>
																		</tr>
																		
																		<tr>
																			<th>ADDRESS:</th>
																			<td colspan="5"> {{ patient.address }}</td>
																			<th >SEX:</th>
																			<td style="width: 80px;">{{patient.gender}}</td>
																			
																		</tr>
																		
																	</tbody>
																</table>
															</div>	
															</div>
														</div>	
														<!-- /Table Up-->	
																
														
														<!-- Table down -->
														<div class="row form-row">
															<!-- IMUNIZATION Item -->
															<div class="col-md-3">
																<div>
																	<img src="{% static 'Mediqs/images/Normal/HEALTHYPILIPINAS.png' %}" alt="logo" style="max-height: 100px !important; position:relative; margin-top: 30px;">
																</div>

																<table class="table" style="background-color: transparent;">
																	<tbody style="text-align: center; color: black;">
																		<tr >
																			<td style=" background: rgba(244, 241, 241, 0.725);">
																				{{patient.health_center}}
																			</td>
																		</tr>
																		<tr>
																			<th>HEALTHCARE FACILITY</th>
																		</tr>
																		
																		<tr>
																			<td style=" background: rgba(244, 241, 241, 0.725);">
																				{{patient.barangay_num}}
																			</td>
																		</tr>
																		<tr>
																			<th>BARANGAY</th>
																		</tr>
																		<tr>
																			<td style=" background: rgba(244, 241, 241, 0.725);">
																				{{patient.fam_num}}
																			</td>
																		</tr>
																		<tr>
																			<th>FAMILY NO.</th>
																		</tr>
																	</tbody>
																</table>												
															</div>
															<!-- /IMMUNIZATION Item -->

															<!--TABLE FOR IMMUNIZATION-->
															
															<div class="col-md-9">
																<table class="table" style="background-color: white; border-color: 3px solid rgb(38, 115, 223); color: black; ">
																	<thead style="text-align: center; background-color: rgb(255, 255, 208); border:1px solid; ">
																		<tr style="border:1px solid;" >
																			<th rowspan="2"  style="border:1px solid;">VACCINE</th>
																			<th rowspan="2"  style="border:1px solid;">DOSAGES</th>
																			<th colspan="7"  style="border:1px solid;">WHEN IT WAS GIVEN</th>
																		</tr>
																		<tr style="border:1px solid;">
																			<th style="border:1px solid;">At Birth</th>
																			<th style="border:1px solid;">1st Visit </th>
																			<th style="border:1px solid;">2nd Visit </th>
																			<th style="border:1px solid;">3rd Visit </th>
																			<th style="border:1px solid;">4th Visit </th>
																			<th style="border:1px solid;">5th Visit </th>
																			<th style="border:1px solid;">Others</th>
																		</tr>
																	</thead>

																	<tbody > 
																		{% for immunization in immunizations %}
																			<!-- BCG VACCINE -->
																			{% if immunization.immune_name == "BCG" and immunization.dose_number == 1 %}
																				<tr style="border:1px solid;">  
																					<th style="border:1px solid;">BCG</th>
																					<th style="border:1px solid;">1 (At Birth)</th>
																					<td style="border:1px solid;">{{ immunization.date_given }}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- HEPATITIS VACCINE -->
																			{% if immunization.immune_name == "HEPATITIS" and immunization.dose_number == 1 %}

																				<tr style="border:1px solid;">
																					<th style="border:1px solid;">HEPATITIS</th>
																					<th style="border:1px solid;">1 (At Birth)</th>
																					<td style="border:1px solid;">{{ immunization.date_given }}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- PENTAVALENT VACCINE -->
																			{% if immunization.immune_name == "PENTAVALENT VACCINE" %}
																				<tr style="border:1px solid;">
																					<th style="border:1px solid;">PENTAVALENT VACCINE</th>
																					<th style="border:1px solid;">3 (1 1/2 months, 2 1/2 months, 3 1/2 months )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- ORAL POLIO VACCINE -->
																			{% if immunization.immune_name == "ORAL POLIO VACCINE" %}
																				<tr style="border:1px solid;" >
																					<th style="border:1px solid;">ORAL POLIO VACCINE</th>
																					<th style="border:1px solid;">3 (1 1/2 months, 2 1/2 months, 3 1/2 months )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- INACTIVATED POLIO VACCINE -->
																			{% if immunization.immune_name == "INACTIVATED POLIO VACCINE" and immunization.dose_number == 1 %}
																				<tr style="border:1px solid;">
																					<th style="border:1px solid;">INACTIVATED POLIO VACCINE</th>
																					<th style="border:1px solid;">1 (At Birth)</th>
																					<td style="border:1px solid;">{{ immunization.date_given }}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- PNEUMOCOCCAL CONJUGATE VACCINE -->
																			{% if immunization.immune_name == "PNEUMOCOCCAL CONJUGATE VACCINE" %}
																				<tr style="border:1px solid;" >
																					<th style="border:1px solid;">PNEUMOCOCCAL CONJUGATE VACCINE</th>
																					<th style="border:1px solid;">3 (1 1/2 months, 2 1/2 months, 3 1/2 months )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- MEASLES, MUMPS, RUBELLA VACCINE -->
																			{% if immunization.immune_name == "MEASLES, MUMPS, RUBELLA" %}
																				<tr style="border:1px solid;" >
																					<th style="border:1px solid;">MEASLES, MUMPS, RUBELLA</th>
																					<th style="border:1px solid;">2 (9 months, 1 year )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- OTHER VACCINE -->
																			{% if immunization.immune_name == "Others" %}
																				<tr style="border:1px solid;" >
																					<th style="border:1px solid;">Others</th>
																					<th style="border:1px solid;">2 (9 months, 1 year )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 4 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 5 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 6 %} {{ immunization.date_given }} {% endif %}</td>
																				</tr>
																			{% endif %}
																		{% endfor %}
																	</tbody>
																	<!-- <tbody>
																		{% for immunization in immunizations %}
																			<tr>
																				<th>{{ immunization.immune_name }}</th>
																				<th>{{ immunization.dose_number }}</th>
																				<td>{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number == 4 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number == 5 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number > 5 %} {{ immunization.date_given }} {% endif %}</td>
																			</tr>
																		{% endfor %}
																	</tbody> -->
																</table>
															</div>
															<!--/TABLE FOR IMMUNIZATION-->

														</div>
														<!-- /Table down -->
														
													</div>
												</div>
											</div>

												<div class="col-md-12">
													<a href="{% url 'vaccination_pdf' %}" class="btn btn-primary" role="button" style="margin: 1%;text-align: center;">Save as PDF</a>
												</div>
										</div>
									</div>
								</div>

								<!--ADULT IMMUNIZATION CARD-->
								<div class="content">
									<div class="container-fluid">
										<div class="row">
											<div class="col-md-7 col-lg-8 col-xl-12">
												<div class="ec-cards">
													<div style="background-image: url('{% static 'Mediqs/images/Normal/IMMUNE_BG.jpg' %}'); background-size: 100%; padding: 20px">
														<!-- Table Up-->	
														<div class="row d-flex justify-content-center">
															<div class="d-flex align-items-center" style="width: 100%;">
																<div>
																	<img src="{% static 'Mediqs/images/Normal/todoligtas.png' %}" alt="logo" style="max-height: 200px !important;">
																</div>
																<div class="col-12">
																<table class="table-borderless" style="background-color: transparent;">
																	<div>
																		<th colspan="7" style="color: darkblue;font-family: Arial Narrow; font-weight: bolder;  font-size: 56px; text-align: center;">CHILD IMMUNIZATION RECORD</th>
																	</div>
																	<tbody style="color: black;">
																	
																		<tr >
																			<th >CHILD'S NAME:</th>
																			<td colspan="2"> {{patient.name}}</td>
																			<th >MOTHER'S NAME:</th>
																			<td colspan="3">{{patient.mother_name}}</td>
																		</tr>
																		<tr>
																			<th>DATE OF BIRTH:</th>
																			<td colspan="2">{{patient.dob}}</td>
																			<th>FATHER'S NAME:</th>
																			<td colspan="3">{{patient.father_name}}</td>
																		</tr>
																		<tr>
																			<th>PLACE OF BIRTH:</th>
																			<td colspan="2" > {{patient.place_birth}}</td>
																			<th >BIRTH HEIGHT:</th>
																			<td colspan="2"style="width: 80px;">{{patient.birth_height}} cm</td>
																			<th>BIRTH WEIGHT:</th>
																			<td style="width: 80px;">{{patient.birth_weight}} kg</td>
																		</tr>
																		
																		<tr>
																			<th>ADDRESS:</th>
																			<td colspan="5"> {{ patient.address }}</td>
																			<th >SEX:</th>
																			<td style="width: 80px;">{{patient.gender}}</td>
																			
																		</tr>
																		
																	</tbody>
																</table>
															</div>	
															</div>
														</div>	
														<!-- /Table Up-->	
																
														
														<!-- Table down -->
														<div class="row form-row">
															<!-- IMUNIZATION Item -->
															<div class="col-md-3">
																<div>
																	<img src="{% static 'Mediqs/images/Normal/HEALTHYPILIPINAS.png' %}" alt="logo" style="max-height: 100px !important; position:relative; margin-top: 30px;">
																</div>

																<table class="table" style="background-color: transparent;">
																	<tbody style="text-align: center; color: black;">
																		<tr >
																			<td style=" background: rgba(244, 241, 241, 0.725);">
																				{{patient.health_center}}
																			</td>
																		</tr>
																		<tr>
																			<th>HEALTHCARE FACILITY</th>
																		</tr>
																		
																		<tr>
																			<td style=" background: rgba(244, 241, 241, 0.725);">
																				{{patient.barangay_num}}
																			</td>
																		</tr>
																		<tr>
																			<th>BARANGAY</th>
																		</tr>
																		<tr>
																			<td style=" background: rgba(244, 241, 241, 0.725);">
																				{{patient.fam_num}}
																			</td>
																		</tr>
																		<tr>
																			<th>FAMILY NO.</th>
																		</tr>
																	</tbody>
																</table>												
															</div>
															<!-- /IMMUNIZATION Item -->

															<!--TABLE FOR IMMUNIZATION-->
															
															<div class="col-md-9">
																<table class="table" style="background-color: white; border-color: 3px solid rgb(38, 115, 223); color: black; ">
																	<thead style="text-align: center; background-color: rgb(255, 255, 208); border:1px solid; ">
																		<tr style="border:1px solid;" >
																			<th rowspan="2"  style="border:1px solid;">VACCINE</th>
																			<th rowspan="2"  style="border:1px solid;">DOSAGES</th>
																			<th colspan="7"  style="border:1px solid;">WHEN IT WAS GIVEN</th>
																		</tr>
																		<tr style="border:1px solid;">
																			<th style="border:1px solid;">At Birth</th>
																			<th style="border:1px solid;">1st Visit </th>
																			<th style="border:1px solid;">2nd Visit </th>
																			<th style="border:1px solid;">3rd Visit </th>
																			<th style="border:1px solid;">4th Visit </th>
																			<th style="border:1px solid;">5th Visit </th>
																			<th style="border:1px solid;">Others</th>
																		</tr>
																	</thead>

																	<tbody > 
																		{% for immunization in immunizations %}
																			<!-- BCG VACCINE -->
																			{% if immunization.immune_name == "BCG" and immunization.dose_number == 1 %}
																				<tr style="border:1px solid;">  
																					<th style="border:1px solid;">BCG</th>
																					<th style="border:1px solid;">1 (At Birth)</th>
																					<td style="border:1px solid;">{{ immunization.date_given }}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- HEPATITIS VACCINE -->
																			{% if immunization.immune_name == "HEPATITIS" and immunization.dose_number == 1 %}

																				<tr style="border:1px solid;">
																					<th style="border:1px solid;">HEPATITIS</th>
																					<th style="border:1px solid;">1 (At Birth)</th>
																					<td style="border:1px solid;">{{ immunization.date_given }}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- PENTAVALENT VACCINE -->
																			{% if immunization.immune_name == "PENTAVALENT VACCINE" %}
																				<tr style="border:1px solid;">
																					<th style="border:1px solid;">PENTAVALENT VACCINE</th>
																					<th style="border:1px solid;">3 (1 1/2 months, 2 1/2 months, 3 1/2 months )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- ORAL POLIO VACCINE -->
																			{% if immunization.immune_name == "ORAL POLIO VACCINE" %}
																				<tr style="border:1px solid;" >
																					<th style="border:1px solid;">ORAL POLIO VACCINE</th>
																					<th style="border:1px solid;">3 (1 1/2 months, 2 1/2 months, 3 1/2 months )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- INACTIVATED POLIO VACCINE -->
																			{% if immunization.immune_name == "INACTIVATED POLIO VACCINE" and immunization.dose_number == 1 %}
																				<tr style="border:1px solid;">
																					<th style="border:1px solid;">INACTIVATED POLIO VACCINE</th>
																					<th style="border:1px solid;">1 (At Birth)</th>
																					<td style="border:1px solid;">{{ immunization.date_given }}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- PNEUMOCOCCAL CONJUGATE VACCINE -->
																			{% if immunization.immune_name == "PNEUMOCOCCAL CONJUGATE VACCINE" %}
																				<tr style="border:1px solid;" >
																					<th style="border:1px solid;">PNEUMOCOCCAL CONJUGATE VACCINE</th>
																					<th style="border:1px solid;">3 (1 1/2 months, 2 1/2 months, 3 1/2 months )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- MEASLES, MUMPS, RUBELLA VACCINE -->
																			{% if immunization.immune_name == "MEASLES, MUMPS, RUBELLA" %}
																				<tr style="border:1px solid;" >
																					<th style="border:1px solid;">MEASLES, MUMPS, RUBELLA</th>
																					<th style="border:1px solid;">2 (9 months, 1 year )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																					<td style="border:1px solid;"></td>
																				</tr>
																			{% endif %}

																			<!-- OTHER VACCINE -->
																			{% if immunization.immune_name == "Others" %}
																				<tr style="border:1px solid;" >
																					<th style="border:1px solid;">Others</th>
																					<th style="border:1px solid;">2 (9 months, 1 year )</th>
																					<td style="border:1px solid;">{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 4 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 5 %} {{ immunization.date_given }} {% endif %}</td>
																					<td style="border:1px solid;">{% if immunization.dose_number == 6 %} {{ immunization.date_given }} {% endif %}</td>
																				</tr>
																			{% endif %}
																		{% endfor %}
																	</tbody>
																	<!-- <tbody>
																		{% for immunization in immunizations %}
																			<tr>
																				<th>{{ immunization.immune_name }}</th>
																				<th>{{ immunization.dose_number }}</th>
																				<td>{% if immunization.dose_number == 1 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number == 2 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number == 3 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number == 4 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number == 5 %} {{ immunization.date_given }} {% endif %}</td>
																				<td>{% if immunization.dose_number > 5 %} {{ immunization.date_given }} {% endif %}</td>
																			</tr>
																		{% endfor %}
																	</tbody> -->
																</table>
															</div>
															<!--/TABLE FOR IMMUNIZATION-->

														</div>
														<!-- /Table down -->
														
													</div>
												</div>
											</div>

												<div class="col-md-12">
													<a href="{% url 'vaccination_pdf' %}" class="btn btn-primary" role="button" style="margin: 1%;text-align: center;">Save as PDF</a>
												</div>
										</div>
									</div>
								</div>
								<!--/AULDT IMMUNIZATION CARD-->




								
							</div>
						</div>
						<!--/ CHILDIMMUNIZATION CARD-->
					</div>
				</div>
			</div>
		</div>
			<!-- /Page Content -->
		
	</div>				
	<!-- /Main Wrapper -->
	
	  
	<!-- jQuery -->
	<script src="{% static 'Mediqs/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'Mediqs/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'Mediqs/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'Mediqs/Outside_assets/js/script.js' %}"></script>
  </body>

<!-- doccure/invoice-view.html  30 Nov 2019 04:12:20 GMT -->
</html>