{% load static %}
{% load cloud %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>Mediqs</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'images/circle-logo.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normal/bootstrap.min.css' %}"
    />

   <!-- Fontawesome CSS 
<link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/all.min.css' %}"
/>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'Mediqs/css/Normal/style.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normal/healthcenter.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normal/search2.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">
		{% if user.is_authenticated and user.is_patient %}
			{% include 'patient_navbar.html' %}
		{% endif %}
	  	{% if user.is_authenticated and user.is_doctor %} 
			{% include 'doctor-navbar.html' %} 
	  	{% endif %}
      </header>
      <!-- /Header -->

      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-6 col-6">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">

                  {% if user.is_authenticated and user.is_patient %}
                  <li class="breadcrumb-item">
                    <a href="{% url 'patient-dashboard' %}">Home</a>
                  </li>
                  {% endif %} 
                  
                  {% if user.is_authenticated and user.is_doctor %}
                  <li class="breadcrumb-item">
                    <a href="{% url 'doctor-dashboard' %}">Home</a>
                  </li>
                  {% endif %}
                  
                  <li class="breadcrumb-item active" aria-current="page">
                    Health Centers
                  </li>
                </ol>
              </nav>
              <h2 class="breadcrumb-title">Health Centers</h2>
            </div>
            {% if user.is_authenticated and user.is_doctor %}
            <div class="col-md-6 col-6 text-right">
              <ul>
                <p><a href="{% url 'inventory' %}" style="color: black;">Inventory</a><br>
                 <a href="{% url 'chat-home' pk=user.id %}" style="color: black;">Chats</a></p>
               </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <!-- Profile Sidebar -->
              <div>

                {% if user.is_authenticated and user.is_patient %}
 					      {% include 'patient-sidebar.html' %}
				        {% endif %}

				        {% if user.is_authenticated and user.is_doctor %}
 					      {% include 'doctor-sidebar.html' %}
				        {% endif %}

              </div>
              <!-- /Profile Sidebar -->
            </div>

            <div class="col-md-7 col-lg-8 col-xl-9">
              <section class="wrapper" style="height: 0px">
                <div class="container-fostrap" style="padding-top: 0px">
                  <div class="top-nav-search">
                    <form action="{% url 'multiple-healthcenter' %}" method="GET">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Search healthcenter"
                        name="search_query"
                        value="{{search_query}}"
                      />
                      <button class="btn" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </form>
                    {% if healthcenters.count == 0 %}
                    <div class="alert alert-danger" style="margin:5px">
                      No health centers found.
                    </div>
                    
                     {% endif %}
                  </div>
                  <h1
                    class="card-title"
                    style="text-align: center; font-size: 45px; color: black"
                  >
                    All Health Centers
                  </h1>
                  <hr>

                  <div class="content">
                    <div class="container">
                      <div class="row">
                        {% for healthcenter in healthcenters %}

                        <div class="col-xs-12 col-md-4 ">
                          <div class="card">
                            <a class="img-card" href="{% url 'healthcenter-profile' pk=healthcenter.healthcenter_id %}">
                              <img src="{{ healthcenter.featured_image.url | adjust_image_url }}" />
                            </a>
                            <table style="color:#fff; margin: auto;text-align: left;" >
                              <thead>
                            <div class="card-content">
                              
                               <th colspan="2"> <a href="{% url 'healthcenter-profile' pk=healthcenter.healthcenter_id %}"> <h2 class="card-title" style="color:#fff">{{healthcenter.name}} </h2></a> </th>
                              
                            </div>
                          </thead>
                            <tbody  >
                            
                              <tr>
                                <td><b>Location:</b></td>
                                <td>{{healthcenter.city}}</td>
                               
                              </tr>
                              <tr>
                                <td><b>Contact Number:</b></td>
                                <td>{{healthcenter.phone_number}}</td>
                              
                              </tr>
                              <tr>
                                <td><b>Head Facility:</b></td>
                                <td> {{healthcenter.head_facility}}</td>
                              </tr>

                           
                          </tbody>
                          </table>
                            <div class="card-read-more" style="margin-top: 10px;">
                              <a
                                href="{% url 'healthcenter-profile' pk=healthcenter.healthcenter_id %}"
                                class="butn butn-link butn-block">
                                Explore
                              </a>
                            </div>
                          </div>
                        </div>

                        
                        {% endfor %}
                      </div>
                      <div class="pagination">
                        <button id="prev-btn" class="btn btn-primary" style="margin-right:1%">
                          <i class="fas fa-chevron-left"></i> Previous
                        </button>
                        <button id="next-btn" class="btn btn-primary">
                          Next <i class="fas fa-chevron-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!--{% include 'pagination.html' with queryset=healthcenters custom_range=custom_range %}-->
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'Mediqs/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'Mediqs/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'Mediqs/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'Mediqs/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'Mediqs/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'Mediqs/Outside_assets/js/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'Mediqs/js/Normal/sidebar.js' %}"></script>
<script>
// Function to handle pagination
function handlePagination() {
  // Get all the cards
  var cards = document.getElementsByClassName('col-xs-12 col-sm-4');
  var pageSize = 3; // Number of cards to display per page
  var totalPages = Math.ceil(cards.length / pageSize); // Total number of pages
  var currentPage = 1; // Current page number

  // Show initial set of cards
  showCards(currentPage);

  // Function to display cards for a specific page
  function showCards(page) {
    // Hide all cards
    for (var i = 0; i < cards.length; i++) {
      cards[i].style.display = 'none';
    }

    // Calculate start and end indices of cards to display
    var startIndex = (page - 1) * pageSize;
    var endIndex = Math.min(startIndex + pageSize, cards.length);

    // Display cards within the range
    for (var j = startIndex; j < endIndex; j++) {
      cards[j].style.display = 'block';
    }
  }

  // Function to handle "Next" button click
  function nextPage() {
    if (currentPage < totalPages) {
      currentPage++;
      showCards(currentPage);
    } else {
      // Show error message when there are no more health centers to show
      alert('No more health centers to show.');
    }
  }

  // Function to handle "Previous" button click
  function previousPage() {
    if (currentPage > 1) {
      currentPage--;
      showCards(currentPage);
    } else {
      // Show error message when on the first page
      alert('You are already on the first page.');
    }
  }

  // Attach event listeners to pagination buttons
  var nextBtn = document.getElementById('next-btn');
  var prevBtn = document.getElementById('prev-btn');

  nextBtn.addEventListener('click', nextPage);
  prevBtn.addEventListener('click', previousPage);
}

// Event listener to run the pagination function after the DOM is fully loaded
document.addEventListener('DOMContentLoaded', function () {
  handlePagination();
});

</script>


  </body>

  <!-- doccure/multiple-healthcenter.html  30 Nov 2019 04:12:18 GMT -->
</html>
