{% load static %}
<!DOCTYPE html> 
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Mediqs</title>

		<!-- Favicons -->
		<link
		type="image/x-icon"
		href="{% static 'images/circle-logo.png' %}"
		rel="icon"
		/>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'Mediqs/css/Normal/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/all.min.css' %}">

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'Mediqs/css/Normal/style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>

	<body class="account-page"style="background-image: url('{% static 'Mediqs/images/Normal/big-green.png' %}');background-size: cover;
  background-repeat: no-repeat;
  background-position: center;z-index: -1;">

    <!-- Main Wrapper -->

    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">
        <img src="{% static 'Mediqs/images/Normal/mediqs_logo.png' %}" alt="Header Image" class="img-fluid" style="width: 18%; height: auto;margin-top: 1%;z-index:1;">
      </header>
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
							
							<!-- Account Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="{% static 'Mediqs/images/Normal/Patient.png' %}" class="img-fluid" alt="Login Banner" style="margin-top: 25%;">	
									</div>
									
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>Enter new password</h3>
											<p class="small text-muted">Please enter your new password twice so we can verify you typed it in correctly.</p>
										</div>
										
										<!-- Forgot Password Form -->
										<form method="POST">
											{% csrf_token %}

											{% comment %} <div class="form-group form-focus">
												<input type="email" class="form-control floating" name="email">
												<label class="focus-label">Email</label>
											</div> {% endcomment %}
											
											{{form.as_p}}

											<div class="text-right">
												<a class="forgot-link" href="{% url 'login' %}">Click here to go back to login</a>
											</div>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Reset Password</button>


										</form>
										<!-- /Forgot Password Form -->
										
									</div>
								</div>
							</div>
							<!-- /Account Content -->
							
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'Mediqs/js/Normal/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'Mediqs/js/Normal/popper.min.js' %}"></script>
		<script src="{% static 'Mediqs/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'Mediqs/Outside_assets/js/script.js' %}"></script>
		
	</body>

</html>