{% load static %}
<!DOCTYPE html> 
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Mediqs</title>

		<!-- Favicons -->
		<link
		type="image/x-icon"
		href="{% static 'images/circle-logo.png' %}"
		rel="icon"
	  	/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'Mediqs/css/Normal/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/all.min.css' %}">

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'Mediqs/css/Normal/style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body class="account-page"style="background-image: url('{% static 'Mediqs/images/Normal/big-green.png' %}');background-size: cover;
	background-repeat: no-repeat;
	background-position: center;z-index: -1;">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
			
			 <!-- Page Content --> 
  <div class="content">
	<div class="center-left-image">
	  <img src="{% static 'Mediqs/images/Normal/Patient.png' %}" alt="Left Image">
	</div>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-8 offset-md-2" style="z-index:4;">
		
			  <!-- Account Content -->
			  <div class="account-content" style="margin-top: 25%;margin-left: 49%;">
				<div class="row-right">
				<div class="row align-items-center justify-content-center">
					
					<div class="col-md-12 col-lg-12 login-right">

						<main class="formPage my-xl">
							<div class="content-box">
								<div class="formWrapper">
									<h2>Password Reset Sent</h2>
						
									<p>We've emailed you instructions for setting your password, if an account exists with the email you
										entered. You should receive them shortly.</p>
									<br>
									<p>If you don't receive an email, please make sure you've entered the address you registered with, and check
										your spam folder.</p>
								</div>
							</div>
						</main>
						

						<div class="text-center dont-have"><a href="{%url 'login' %}">Return to Login</a></div>
                   		<div class="text-center dont-have"><a href="{%url 'healthcenter_home' %}">Return to Homepage</a></div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Account Content -->
	
	  </div>
	</div>
  </div>
</div>
</div>
<!-- /Page Content -->
   
			
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'Mediqs/js/Normal/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'Mediqs/js/Normal/popper.min.js' %}"></script>
		<script src="{% static 'Mediqs/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'Mediqs/Outside_assets/js/script.js' %}"></script>
		
	</body>

</html>