{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/login.html  30 Nov 2019 04:12:20 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Mediqs</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'images/circle-logo.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normal/bootstrap.min.css' %}"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Fontawesome CSS 
<link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'Mediqs/css/Normal/style.css' %}"
    />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mediqs-css.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' &}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="account-page"style="background-image: url('{% static 'Mediqs/images/Normal/big-green.png' %}');background-size: cover;
  background-repeat: no-repeat;
  background-position: center;z-index: -1;">

    <!-- Main Wrapper -->

    <div class="main-wrapper">
      <!-- Header -->
      <header class="header" style="z-index: 1000; position: relative;">
        <a href="{% url 'healthcenter_home' %}">
          <img src="{% static 'Mediqs/images/Normal/mediqs_logo.png' %}" alt="Header Image" class="img-fluid login-logo" style="width: 20%; height: auto; margin-top: 1%; z-index:1;">
        </a>
      </header>     
    
  
      <!-- Page Content --> 
      <div class="content">
        <div class="center-left-image">
          <img src="{% static 'Mediqs/images/Normal/Doctor.png' %}" alt="Left Image">
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 offset-md-2" style="z-index:4;">
              <!-- Login Tab Content -->
              <div class="account-content">
                <div class="row-right">
                  <div class="col-md-12 col-lg-6 login-right">
                    <div class="login-header">
                      <div class="d-flex align-items-center"style="margin-left:20px">
                        <div class="me-3">
                          <img src="{% static 'Mediqs/images/Normal/doctor profile.png' %}" style="width: 100px; height: 100px; object-fit: contain;">
                        </div>
                        <div>
                          <h1 class="log">Forgot Password</h1>
                          <h3>Enter your email to get a password reset link</h3>
                        </div>
                      </div>
                  </div>

                    <!-- Forgot Password Form -->
										<form method="POST">
											{% csrf_token %}

											<div class="form-group form-focus">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                      </div>

											<div class="text-right">
												<a class="forgot-link" href="{% url 'login' %}">Remember your password?</a>
											</div>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Reset Password</button>


										</form>
										<!-- /Forgot Password Form -->
                    <div class="text-center dont-have"><a href="{%url 'login' %}">Return to Login</a></div>
                    <div class="text-center dont-have"><a href="{%url 'healthcenter_home' %}">Return to Homepage</a></div>
                  </div>
                </div>
              </div>
              <!-- /Login Tab Content -->
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- /Page Content -->

    </div>
    </div>
    <!-- /Main Wrapper -->



    <!-- jQuery -->
    <!-- jQuery -->
    <!-- <script src="{% static 'Mediqs/js/Normal/jquery.min.js' %}"></script> -->
    <!-- <script src="{% static 'Mediqs/js/jquery.min.js' %}"></script> -->
    <script src="{% static 'Mediqs/js/Normal/jquery.min.js' %}"></script>



    <!-- Bootstrap Core JS -->
    <script src="{% static 'Mediqs/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'Mediqs/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <!-- <script src="{% static 'Mediqs/js/Normal/script.js' %}"></script> -->
    <script src="{% static 'Mediqs/Outside_assets/js/script.js' %}"></script>


    <script src="{% static 'Mediqs/js/Normal/Checkbox.js' %}"></script>



   <!-- alert js -->
   <script>
    var x = document.getElementById('CredentialCheck');
    if (x.style.display === "none") {
      x.style.display = "block";
    }
    $('#CredentialCheck').delay(4000).fadeOut('slow');     
  </script>

  <!-- show password js -->
  <script>
    function myFunction11() {
    var x = document.getElementById('myInput');
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
    }
  </script>

  {% if messages %}
  <script>
      {% for message in messages %}
          $(document).ready(function () {
              $('.toast').toast('show');
          });
      {% endfor %}
  </script>
{% endif %}




</body>

<!-- doccure/login.html  30 Nov 2019 04:12:20 GMT -->
</html>