{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>Mediqs - Dashboard</title>

    <!-- Favicon -->

    <link
      type="image/x-icon"
      href="{% static 'images/circle-logo.png' %}"
      rel="icon"
    />


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'Mediqs/css/Normal/bootstrap.min.css'%}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<!-- <link rel="stylesheet" href="{% static 'Mediqs/css/admin/font-awesome.min.css'%}"> -->
	<!-- <link rel="stylesheet" href="{% static 'Mediqs/plugins/Normal/fontawesome/css/all.min.css' %}"> -->

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="{% static 'Mediqs/admin_assets/css/feathericon.min.css'%}">

	<!-- Datatables CSS -->
	<link rel="stylesheet" href="{% static 'Mediqs/plugins/admin/datatables/datatables.min.css'%}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'Mediqs/css/admin/style.css'%}">

	<link rel="stylesheet" href="{% static 'Mediqs/css/admin/add-healthcenter.css'%}">

	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<header class="header">{% include 'healthcenter_admin/healthcenter-admin-navbar.html' %}</header>
		<!-- Logo -->


		<!-- /Header -->

		<!-- Sidebar -->
		<aside class="sidebar" id="sidebar">
			{% include 'healthcenter_admin/healthcenter-admin-sidebar.html' %}
		</aside>
		<!-- /Sidebar -->

		<!-- Page Wrapper -->

		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<div class="content container-fluid">

				<!-- Breadcrumb -->
				<div class="breadcrumb-bar">
					<div class="container-fluid">
						<div class="row align-items-center">
							<div class="col-md-12 col-12">
								<nav aria-label="breadcrumb" class="page-breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Add Health Center
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- /Breadcrumb -->

				<!-- Page Content -->
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-7 col-lg-8 col-xl-12">
								<div class="ec-cards">
									<div class="card-body">
										<h1 class="black text-center">Add New Health Center</h1>
										<!-- Profile Settings Form -->
										<form action="{% url 'add-healthcenter' %}" method="POST" enctype="multipart/form-data">
											{% csrf_token %}
										<!--FIRST LINE-->
										<div class="row form-row">
											<div class="col-md-12">
												<div class="change-avatar"></div>
												<div class="card card-table">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center">
																<thead>
																	<tr>
																		<th>Health Center Name</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td class="healthcenter-name">
																			<input class="form-control" type="text" name="healthcenter_name">
																		</td>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--END OF FIRST LINE-->
										<!--SECOND LINE-->
										<div class="row form-row">
											<div class="col-xl-12">
												<div class="card card-table">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-center">
																<thead>
																	<tr>
																		<th colspan="4" class="h4"style="padding: 10px 0px 0px 10px; margin: 10px 0px 0px 10px;">Health Center Address</th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="width: 40%">Street Address</th>
																		<th style="width: 20%">Barangay</th>
																		<th style="width: 30%">City/Municipality</th>
																		<th style="width: 10%">Zip Code</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>
																			<input class="form-control" type="text" name="street">
																		</td>
																		<td>
																			<input class="form-control" type="text" name="barangay">
																		</td>
																		<td>
																			<input class="form-control" type="text" name="city">
																		</td>
																		<td>
																			<input class="form-control" type="text" name="zip_code">
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--END OF SECOND LINE-->
										<!--Third LINE-->
										<div class="row form-row">
											<div class="col-md-6">
												<div class="card card-table">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center">
																<thead>
																	<tr>
																		<th style="min-width: 100px">Phone Number</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>
																			<input class="form-control" type="text"
																				name="phone_number">
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="change-avatar"></div>
												<div class="card card-table">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center">
																<thead>
																	<tr>
																		<th style="min-width: 100px">Health Center Email</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>
																			<input class="form-control" type="email"
																				name="email">
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row form-row">
											<div class="col-md-6">
												<div class="card card-table">
												  <div class="card-body">
													<div class="table-responsive">
													  <table class="table table-center">
														<thead>
														  <tr>
															<th style="width: 100%">Services</th>
														  </tr>
														</thead>
														<tbody class="service-info">
															<tr class="form-row">
															  <td class="form-row">
																<div class="form-groups">
																  <input type="text" class="form-control" id="service" name="service">
																</div>
															</td>
															<td>
															  <a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
															</td>
														  </tr>
														</tbody>
													  </table>
													</div>
													<div class="add-more">
													  <a href="javascript:void(0);" class="add-service" style="color: #416F83"><i class="fa fa-plus-circle"></i> Add More</a>
													</div>
												  </div>
												</div>
											  </div>

											
												<div class="col-md-6">
													<div class="card card-table">
													  <div class="card-body">
														<div class="table-responsive">
														  <table class="table table-hover table-center">
															<thead>
															  <tr>
																<th style="width: 100px">Operation Hours</th>
															  </tr>
															</thead>
															<tbody class="specialization-info">
															  <tr class="form-row operation_hour-cont">
																<td>
																  <div class="form-groups">
																	<input type="text" class="form-control" id="operation_hour" name="operation_hour">
																  </div>
																</td>
																<td>
																  <a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
																</td>
															  </tr>
															</tbody>
														  </table>
														</div>
														<div class="add-more">
														  <a href="javascript:void(0);" class="add-operation_hour" style="color: #416F83"><i class="fa fa-plus-circle"></i> Add More</a>
														</div>
													  </div>
													</div>
												  </div>
												</div>

											
										<!--END OF SECOND LINE-->
													
												<!--Last-->
												<div class="row form-row">
													<div class="col-md-4">
													  <div class="card-body text-center">
														<div class="table-responsive">
														  <div class="profile-img">
															<img src="{% static 'images/healthcenters/default.png' %}" alt="Health Center Profile Image" width="185px">
														  </div>
														  <div class="upload-img">
															<label for="upload-photo-btn" class="btn btn-primary">
															  <span><i class="fa fa-upload"></i> Upload Photo</span>
															</label>
															<input type="file" id="upload-photo-btn" class="upload" name="featured_image" style="display:none;">
															<small class="form-text text-muted-black">Allowed JPG, GIF or PNG. Max size of 2MB</small>
														  </div>
														</div>
													  </div>
													</div>
												  
													<div class="col-md-8">
													  <div class="card-body">
														<div class="table-responsive">
														  <table class="table table-center">
															<thead>
															  <tr>
																<th>Description</th>
															  </tr>
															</thead>
															<tbody>
															  <tr>
																<td>
																  <textarea type="text" rows="7" class="form-control" name="description"></textarea>
																</td>
															  </tr>
															</tbody>
														  </table>
														</div>
													  </div>
													</div>
												  </div>

												<div class="submit-section">
													<button type="submit" class="btn btn-primary submit-btn">
														Save Changes
													</button>
												</div>
											</div>
										</div>
									</form>
										<!-- /Profile Settings Form -->

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Page Content -->






			</div>
		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="{% static 'Mediqs/js/admin/jquery-3.2.1.min.js' %}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'Mediqs/js/admin/popper.min.js' %}"></script>
	<script src="{% static 'Mediqs/js/admin/bootstrap.min.js' %}"></script>

	<!-- Slimscroll JS -->
	<script src="{% static 'Mediqs/plugins/admin/slimscroll/jquery.slimscroll.min.js' %}"></script>

	<!-- Datatables JS -->
	<script src="{% static 'Mediqs/plugins/admin/datatables/jquery.dataTables.min.js'%}"></script>
	<script src="{% static 'Mediqs/plugins/admin/datatables/datatables.min.js'%}"></script>

	<!-- Custom JS -->
	<script src="{% static 'Mediqs/js/admin/script.js' %}"></script>

	<script src="{% static 'Mediqs/js/Normal/add-more.js' %}"></script>


</body>


</html>